@*@model Nackowskiiiii.Models.AuctionViewModels.AuctionViewModel*@
@model Nackowskiiiii.Models.AuctionViewModels.TestAuctionViewModel

<h3>Auction is closed</h3>
<h5>Highest bid was: @Model.GeneralAuctionViewModel.HighestBidForAuction kr</h5>
