@*@model IEnumerable<Nackowskiiiii.Models.AuctionViewModels.AuctionViewModel>*@
@model IEnumerable<Nackowskiiiii.Models.AuctionViewModels.TestAuctionViewModel>

@inject RoleManager<IdentityRole> RoleManager

<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Start price</th>
        <th>End date</th>
    </tr>

    @foreach (var auction in Model)
    {
        <tr>
            <td><a asp-controller="Auction" asp-action="ViewAuctionDetails" asp-route-auctionId=@auction.GeneralAuctionViewModel.Id>@auction.GeneralAuctionViewModel.Title</a></td>
            <td>@auction.GeneralAuctionViewModel.Description</td>
            <td>@auction.GeneralAuctionViewModel.StartPrice</td>
            <td>@auction.GeneralAuctionViewModel.EndDateString</td>
        </tr>
    }
</table>